
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserTableByJson</title>
</head>
<body>
    <div>
        <br />

        <table id="usrTable">
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Username</td>
            </tr>
        </table>


        <script language="javascript">
            $.get("UserTableByJson", null, BindData);

            function BindData(users)
            {
                var tbl = $("#usrTable");

                for (i = 0; i < users.length; i++) {
                    var newRow = "<tr>" +
                        "<td>" + users[i].FirstName + "</td>" +
                        "<td>" + users[i].LastName + "</td>" +
                        "<td>" + users[i].Email + "</td>" +
                        "<td>" + users[i].Username + "</td>" +
                        "</tr>"
                    tbl.append(newRow);
                }
            }

        </script>
        
    </div>
</body>
</html>
