
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
</head>
<body>
    <div>
        <form action="@Url.Action("Dec", "Product")" method="post">
            <br />
            <input id="Submit1" type="submit" value="Confirm" class="btn btn-primary btn-lg" />
        </form>
    </div>
</body>
</html>
